.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

html {
  background-color: #e2e2e2;
  color: #363136;
}

.reviewImg {
  width: 80%;
} 

.reviewCard {
  padding: 20px;
  list-style: none;
  margin: 25px 50px;
  background-color: #e2e2e2;
  color: #363136;
  border-radius: 30px;
  border: 2px solid #689990;

}


.reviewList {
  padding: 0px;
}

.intro {
  margin: 10px 20px;
  font-size: small;
}

.reviewTitle {
  margin: 20px 10px;
}

.singleReview {
  margin: 0px 30px;
  border: 2px solid #689990;
  padding: 20px;
  border-radius: 30px;
}

.commentCard{
  list-style: none;
  border-radius: 30px;
  border: 2px solid #689990;
  margin: 10px 30px;

}

.username {
  font-weight:bold;
}

.singleComment {
  margin: 0px 50px
}

.commentsList {
  padding: 0px;
}

.vote {
  background-color: #e2e2e2;
  color: #363136;
  border: none;
  font-size:x-large;
  font-weight: 800;
}

.votes {
  margin-bottom: 0px;
}

#plus {
  color: green;
}

#minus {
  color:crimson
}

.cardTitle {
  color: #363136;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-color: #689990;
}

.date {
  font-size: x-small;
}

.comment {
  font-size: small;
  padding: 0px 15px;
}

.headerLink {
  color:#363136;
  text-decoration-color:#689990;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.votingError {
  padding: 5px;
  font-size: x-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0.5px solid rgba(220, 20, 60, 0.445);
  border-radius: 30px;
}


