.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

html {
  background-color: #e2e2e2;
  color: #363136;
}

.reviewImg {
  width: 80%;
} 

.reviewCard {
  padding: 20px;
  list-style: none;
  margin: 25px 50px;
  background-color: #e2e2e2;
  color: #363136;
  border-radius: 30px;
  border: 2px solid #689990;

}


.reviewList {
  padding: 0px;
}

.intro {
  margin: 10px 20px;
  font-size: small;
}

.reviewTitle {
  margin: 20px 10px;
}

.singleReview {
  margin: 0px 30px;
  border: 2px solid #689990;
  padding: 20px;
  border-radius: 30px;
}

.commentCard{
  list-style: none;
  border-radius: 30px;
  border: 2px solid #689990;
  margin: 10px 30px;

}

.username {
  font-weight:bold;
}

.singleComment {
  margin: 0px 50px
}

.commentsList {
  padding: 0px;
}

.vote {
  background-color: #e2e2e2;
  color: #363136;
  border: none;
  font-size:x-large;
  font-weight: 800;
}

.votes {
  margin-bottom: 0px;
}

#plus {
  color: green;
}

#minus {
  color:crimson
}

.cardTitle {
  color: #363136;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-color: #689990;
}

.date {
  font-size: x-small;
}

.comment {
  font-size: small;
  padding: 0px 15px;
}

.headerLink {
  color:#363136;
  text-decoration-color:#689990;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.votingError {
  padding: 5px;
  font-size: x-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0.5px solid rgba(220, 20, 60, 0.445);
  border-radius: 30px;
}


.addComment {
  border: none;
  background-color: #e2e2e2;
  color: #363136;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 500;
  border-bottom: 1px solid #689990;
}

.commentForm {
  border: 2px solid #689990;
  margin: 15px  30px;
  border-radius: 30px;
  padding: 20px
}

.commentButton {
  border: 1px solid #689990;
  color: #363136;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 5px 7px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}

.commentLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #363136;
  margin-right: 7px;
}

.commentInput {
  margin-top: 10px;
  background-color: #e2e2e2;
  border: 1.5px solid #363136;
  border-radius: 5px;
  padding: 5px;
}

.usernameError {
  font-size: small;
  color: crimson;
}

.nav {
  border-top: 2px solid #689990;
  border-bottom: 2px solid #689990;
  margin: 30px;
}

.category {
  list-style: none;
}

.categoryLink {
  text-decoration-color: #689990;
  text-decoration-thickness: 1.5px;
  color: #363136;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 700;
}

.categoryList {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px
}


.sorting {
  margin-bottom: 25px;
}

.dropDown {
  margin: 0px 20px;
  margin-left: 10px;
  padding: 3px;
  background-color: #e2e2e2;
  color: #363136;
  border: 2px solid #689990;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
}

.sort {
  color: #363136;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .categoryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}