.App {
  text-align: center;
}

html {
  background-color: #efe3d2;
  color: #363136;
}

.reviewImg {
  width:100%;
}

.reviewCard {
  padding: 20px;
  list-style: none;
  margin: 25px 50px;
}

.reviewList {
  padding: 0px;
}

.intro {
  margin: 10px;
}